.axis {
    margin-bottom: $base-spacing-unit;
  
    h2 {
      font-size: 1.5rem;
      margin-bottom: $small-spacing-unit;
      font-family: $heading-font-family;
      color: $dark-blue;
    }
  }