.diagnostic {
    padding: $base-spacing-unit;
  
    h1 {
      font-size: 2rem;
      margin-bottom: $base-spacing-unit;
      font-family: $heading-font-family; 
      color: $dark-blue;
    }
  
    .axis-list {
      margin-top: $base-spacing-unit;
    }
  }