.button {
    z-index: 9999 !important;
    button{
        background: none;
        outline: none;
        border: solid 2px $light-blue;
        background-color: $light-blue;
        width: auto;
        height: auto;
        border-radius: 5px;
        font-family: $body-font-family;
        color: $white;
        font-size: 15px;
        padding : 0.5em 2em 0.5em 2em;

        &:hover{
            background-color: $dark-blue;
            border: solid 2px $dark-blue;
            color: white;
            cursor: pointer;
        }
    }
}
